.hide.container{
    filter: blur(3px) brightness(0.7);
}

.popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: aliceblue;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    color: rgb(67, 88, 106);
    box-shadow: 5px 5px 10px rgb(74, 73, 73);
    opacity: 1;
    transition: all .7s;
}

h4{
    font-size: 30px;
    letter-spacing: 3px;
}

.hide.popup-container{
    visibility: hidden;
    opacity: 0;

}