.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
   
}
.currentSeat{
    width: 20%;
    height: 60vh;
    border:  3px solid rgb(255, 255, 255);
    background-color: rgb(255, 211, 242);
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
.currentSeat h3{
    font-size: 30px;
}
.currentSeat h4{
    font-size: 50px;
    color: rgb(232, 111, 149);
    /* text-shadow: 2px 2px 1px rgb(82, 82, 82); */
    text-decoration: underline;
    
}

.seatmap{
    width: 63%;
    height: 70vh;
    margin:  auto;
    padding-top: 20px;
}

.seatmap img{
    width: 60%;
    
    
}







